node_modules
npm-debug.log
front/node_modules
front/dist
backend/node_modules
backend/dist
backend/public
backend/data/runtime/*.json
backend/data/runtime/*.db
backend/data/runtime/*.db-shm
backend/data/runtime/*.db-wal
.deploy
.git
